 * {
     padding: 0;
     margin: 0;
     font-family: Lato;
 }

 header {
     padding: 5px;
     min-height: 35px;
     border-bottom: 1px solid #d5d5d5;
     background-color: #F5F5F5;
 }

 .other-link {
     display: none;
     list-style: none;
 }

 .link a {
     margin: 0px -5px;
     padding: 5px;
     font-size: 1rem;
     width: 10%;
     display: block;
     text-decoration: none;
     text-align: center;
     color: black;
     background-color: #464f50;
     border-top: 1px solid black;
     transition: 0.5s;
 }

 .link a:hover {
     background-color: white;
     color: black;
 }

 .menu-toggle {
     width: 25px;
     height: 20px;
     padding: 5px;
     border-radius: 3px;
     cursor: pointer;
     list-style: none;
     outline: none;
     background-color: #E34351;
     transition: 0.5s;
 }

 .menu-toggle:hover {
     background-color: #AA0B1F;
 }

.center-div {
    margin: 100px auto;
    width: 30%;
    padding: 5px;
    border: 2px solid #bdbdbd;
    border-radius: 3px;
    height: 400px;
}

 .message-box {
     position: relative;
     top: 325px;
     width: 40%;
     padding: 5px;
     transition: all 0.5s;
     min-height: 60px;
 }

 .message-box:active, .message-box:focus {
     outline: none;
     border: 1px solid #AA0B1F;
     width: 96%;
 }
